<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Home</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width height=device-height initial-scale=1.0 maximum-scale=1.0 user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="page">
      <!-- Page Header-->

      <!-- FScreen-->

      <!-- Projects-->
      <section class="section section-lg text-center">
        <div class="container">
          <h3 class="wow-outer"><span class="wow slideInUp">CareCompanion</span></h3>
          <p class="wow-outer"><span class="text-width-1 wow slideInDown">A smart AI assistant for elderly healthcare support.</span></p>
          <div class="row row-30 offset-top-4 hoverdir">
            <div class="col-sm-6 col-lg-4 wow-outer">
                    <!-- Thumbnail Classic--><a class="thumbnail-classic thumbnail-classic-sm wow slideInLeft hoverdir-item" href="{{ url_for('pill_sense') }}" data-hoverdir-target=".thumbnail-classic-caption"><img class="thumbnail-classic-image" src="{{ url_for('static', filename='images/grid-layout-1-370x256.jpg') }}" alt="" width="370" height="256"/>
                      <div class="thumbnail-classic-caption">
                        <p class="thumbnail-classic-title">PillSense</p>
                        <p class="thumbnail-classic-text">Pill Box Recognition</p>
                      </div>
                      <div class="thumbnail-classic-dummy"></div></a>
            </div>
            <div class="col-sm-6 col-lg-4 wow-outer">
                    <!-- Thumbnail Classic--><a class="thumbnail-classic thumbnail-classic-sm wow slideInLeft hoverdir-item" href="{{ url_for('nutri_scan') }}" data-hoverdir-target=".thumbnail-classic-caption"><img class="thumbnail-classic-image" src="{{ url_for('static', filename='images/grid-layout-2-370x256.jpg') }}" alt="" width="370" height="256"/>
                      <div class="thumbnail-classic-caption">
                        <p class="thumbnail-classic-title">NutriScan</p>
                        <p class="thumbnail-classic-text">Food Recognition</p>
                      </div>
                      <div class="thumbnail-classic-dummy"></div></a>
            </div>
            <div class="col-sm-6 col-lg-4 wow-outer">
                    <!-- Thumbnail Classic--><a class="thumbnail-classic thumbnail-classic-sm wow slideInLeft hoverdir-item" href="single-project.html" data-hoverdir-target=".thumbnail-classic-caption"><img class="thumbnail-classic-image" src="{{ url_for('static', filename='images/grid-layout-3-370x256.jpg') }}" alt="" width="370" height="256"/>
                      <div class="thumbnail-classic-caption">
                        <p class="thumbnail-classic-title">MediTrack</p>
                        <p class="thumbnail-classic-text">tracking medication over time (testing)</p>
                      </div>
                      <div class="thumbnail-classic-dummy"></div></a>
            </div>
            <div class="col-sm-6 col-lg-4 wow-outer">
                    <!-- Thumbnail Classic--><a class="thumbnail-classic thumbnail-classic-sm wow slideInRight hoverdir-item" href="{{ url_for('history') }}" data-hoverdir-target=".thumbnail-classic-caption"><img class="thumbnail-classic-image" src="{{ url_for('static', filename='images/grid-layout-4-370x256.jpg') }}" alt="" width="370" height="256"/>
                      <div class="thumbnail-classic-caption">
                        <p class="thumbnail-classic-title">History</p>
                        <p class="thumbnail-classic-text">Take medicine to remind history</p>
                      </div>
                      <div class="thumbnail-classic-dummy"></div></a>
            </div>
            <div class="col-sm-6 col-lg-4 wow-outer">
                    <!-- Thumbnail Classic--><a class="thumbnail-classic thumbnail-classic-sm wow slideInRight hoverdir-item" href="single-project.html" data-hoverdir-target=".thumbnail-classic-caption"><img class="thumbnail-classic-image" src="{{ url_for('static', filename='images/grid-layout-5-370x256.jpg') }}" alt="" width="370" height="256"/>
                      <div class="thumbnail-classic-caption">
                        <p class="thumbnail-classic-title">NewsVoice</p>
                        <p class="thumbnail-classic-text">Testing</p>
                      </div>
                      <div class="thumbnail-classic-dummy"></div></a>
            </div>
            <div class="col-sm-6 col-lg-4 wow-outer">
                    <!-- Thumbnail Classic--><a class="thumbnail-classic thumbnail-classic-sm wow slideInRight hoverdir-item" href="single-project.html" data-hoverdir-target=".thumbnail-classic-caption"><img class="thumbnail-classic-image" src="{{ url_for('static', filename='images/grid-layout-6-370x256.jpg') }}" alt="" width="370" height="256"/>
                      <div class="thumbnail-classic-caption">
                        <p class="thumbnail-classic-title">ElderVibe</p>
                        <p class="thumbnail-classic-text">Testing</p>
                      </div>
                      <div class="thumbnail-classic-dummy"></div></a>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="preloader"> 
      <div class="preloader-logo"><img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="" width="169" height="24" srcset="images/logo-default-324x45.png 2x"/>
      </div>
      <div class="preloader-body">
        <div id="loadingProgressG">
          <div class="loadingProgressG" id="loadingProgressG_1"></div>
        </div>
      </div>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="{{ url_for('static', filename='js/core.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>